.card-way-container {
  width: 30%;
  min-width: 20rem;
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  color: var(--color-success);
  background-color: var(--color-bg-card);
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  text-wrap: balance;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  h3 {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
  }

  h4 {
    margin: 0.2em 0;
    font-size: 1.2em;
    color: var(--color-text-primary);
  }

  ul {
    margin: 0.3em 0 1em;
    color: var(--color-text-secondary);
    text-align: left;
  }

  li {
    margin: 0.2em 0;
  }

  &:hover {
    border-color: var(--color-secondary);
    border-style: dotted;
    transform: scale(1.02, 1.02);
    box-shadow: var(--color-secondary) 0 0 20px 1px;
  }

  &:active {
    border: 2px dashed var(--color-border);
    box-shadow: none;
    transform: none;
    transition: all 0.1s ease-out;
  }
}

@media (max-width: 460px) {
  .card-way-container {
    margin: 0.7em 0;
    min-width: 100%;
    font-size: 0.9rem;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0.5em 0;
  }
}
