.extra-info-block {
  margin-top: 20px;
  text-align: left;

  p {
    text-align: center;
    margin-bottom: 2em;
  }

  span {
    display: inline-block;
    width: 30%;
    color: var(--color-text-secondary)
  }

  input, select {
    width: 100%;
    max-width: 15em;
    margin: 0 1em 0.7em;
    padding: 6px 8px;
    font-size: 1em;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    outline: none;

    /*&::placeholder {*/
    /*  font-size: 0.8em;*/
    /*}*/

    &:focus-visible {
      border: 2px solid var(--color-disabled);
    }
  }

  input[list] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-image: none;
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
  }
}

.extra-info-input {
  display: inline-block;

  input {
    margin: 0.5em 0.5em 0.5em 3em;
    width: min-content;
    vertical-align: middle;
  }
}
