.extra-info-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: left;

  p {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }

  span {
    display: inline-block;
    width: 30%;
    color: var(--color-text-secondary)
  }

  .text-save-error {
    margin: -0.8em 0 1em;
    padding: 0;
    text-align: left;
    color: var(--color-error);
  }

  input[list] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-image: none;
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
    opacity: 0;
  }
}

.extra-info-input {
  display: inline-block;

  input {
    margin: 0.5em 0.5em 0.5em 3em;
    width: min-content;
    vertical-align: middle;
  }
}

.btn-save-block {
  width: 100%;
}

.btn-save {
  display: block;

  &:disabled, &:disabled:hover {
    background-color: var(--color-disabled);
    cursor: not-allowed;
  }
}

.warning-save {
  color: var(--color-warning);

  span {
    display: inline;
    color: var(--color-text-primary);
  }
}

.submit-error-info {
  color: var(--color-error);
}

@media (max-width: 460px) {
  .extra-info-block {
    justify-content: center;
    text-align: center;

    p {
      margin-bottom: 1em;
    }

    span {
      width: 100%;
      margin-bottom: 0.2em;
    }
  }

  .extra-info-input {
    display: block;
    text-align: center;

    input {
      margin: 0.5em 0.5em 0.5em 0.5em;
      width: min-content;
      vertical-align: middle;
    }

    label {
      margin-right: 1em;
    }
  }
}
