.admin-container {
  max-width: min(100rem, 90%);
  margin: 10px auto;
  padding: 10px 20px;
  container-type: inline-size;
  text-align: center;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  background-color: var(--color-bg-card);
  transition: background-color ease 0.25s;

  &:not(:has(.user-cards-container)) {
    max-width: 40rem;
  }
}

.admin-navbar {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-container {
  table {
    font-size: 0.96em;
    margin: 1em auto;
    width: 100%;
  }

  td {
    line-height: 1.2em;
    padding: 0.4em 0;
  }

  td:nth-child(1) {
    width: 75%;
    text-align: left;
  }
}

.test-list-name {
  span {
    color: var(--color-success);
  }
}

.link-admin-page {
  display: block;
  width: 6.5em;
  margin-bottom: 0.5em;
  padding-inline: 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: 0.3em;
}

@media (max-width: 660px) {
  .admin-container {
    margin: 0.8em 1em;
  }

  .admin-navbar {
    font-size: 0.9em;
  }
}
