.testListBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testItem {
  display: flex;
  padding: 0;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #16a34a;
  border-radius: 6px;
}

.testBlock {
  width: 100%;
}

.testItemName {
  display: inline-block;
  margin: 0;
  padding: 5px;
  color: #0055ff;
}

.buttonsBlock {
  display: inline-block;
}

.buttonDel {
  display: inline-block;
  height: 1.6rem;
  margin: 4px;
}

.linkOpenTest {
  margin: 0.2rem;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #f67d32;
  line-height: 1.6rem;

}

.testInfo {
  margin: 0.2rem;
}
