.testListBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testItem {
  display: flex;
  padding: 0;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-success-border);
  border-radius: 6px;
}

.testBlock {
  width: 100%;
}

.testItemName {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px;
  color: var(--color-success);
  font-weight: bold;
}

.buttonsBlock {
  display: inline-block;
}

.buttonTest {
  display: inline-block;
  height: 1.2rem;
  margin: 4px;
  font-size: 0.7rem;
  color: var(--color-text-contrast);
  background-Color: var(--color-warning);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.linkOpenTest {
  margin: 0.2rem;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-warning);
  line-height: 1.6rem;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-primary-hover);
  }
}

.statInfoBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testInfo {
  width: 100%;
  margin: 0.2rem;
  color: var(--color-text-secondary);
}
