.button-create {
  margin: 1rem auto;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--color-text-contrast);
  background-color: var(--color-primary);
  border-radius: 6px;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-tertiary);
  }
}

.noticeBlock {
  transition: all 0.3s ease;
  text-wrap: balance;


  & .noticeText {
    font-size: 1.5em;
    color: var(--color-text-primary);
  }
}

.close {
  display: none;
}
