.creating-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  transition: background-color ease 0.25s;
}

.creating-head {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--color-primary);
}

@media (max-width: 1260px) {
  .creating-container {
    margin: 10px;
  }
}

@media (max-width: 460px) {
  .creating-head {
    margin: 0 0 0.5em;
    font-size: 1.6em;
  }
}
