.test-list-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.test-item {
  display: flex;
  padding: 0 0.5em;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-success-border);
  border-radius: 6px;
}

.test-name {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1em;
  color: var(--color-secondary);
  font-weight: 500;
}

.quiz-container-info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.1em 1em;

  span {
    color: var(--color-success);
  }
}

.info-item {
  box-sizing: border-box;
  width: 48%;
  text-align: left;
}

.quiz-feedback-info {
  /*width: 100%;*/
  display: flex;
  justify-content: left;
}

.action-info {
  /*margin: 0.4em 1.5em 0 0;*/
  margin-right: 1em;

  span {
    display: inline-block;
    margin-left: 0.3em;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 500;
  }

}

.btn-like-act {
  cursor: pointer;
}

.isLiked {
  span {
    color: var(--color-secondary);
  }
}

.img-like {
  width: 1.5em;
  vertical-align: middle;
}

.img-noliked {
  filter: grayscale(75%);
}

.img-liked {
  filter: none;
}

.quiz-control-block {
  width: 55%;
}

.test-buttons-block {
  width: 100%;
  display: block;
  /*margin: 0.2em 0;*/
}

.button-test {
  display: inline-block;
  height: 1.2rem;
  margin: 4px;
  font-size: 0.7rem;
  color: var(--color-primary);
  background-Color: var(--color-bg-card);
  border: solid 1px var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-quaternary);
  }
}

.quiz-link-copy {
  border: none;
  background: none;
  color: var(--color-primary);

  &:hover {
    text-shadow: 0 0 5px var(--color-success);
  }
}

.quiz-link-copy--copied {
  color: var(--color-success);
}

.link-open-test {
  display: inline-block;
  margin: 0 0.5em 0.5em;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-quaternary);
  line-height: 1.6rem;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 5px var(--color-success);
  }
}

.stat-info-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stat-info-head {
  width: 100%;
  margin: 0.2rem;
  color: var(--color-text-secondary);
}
