.test-list-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.test-item {
  display: flex;
  padding: 0 0.5em;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-success-border);
  border-radius: 6px;

  table {
    font-size: 0.8em;
    border-spacing: 0;
    overflow: hidden;
    line-height: 1.2em;

    tr {
      text-align: left;

      td:first-child {
        padding-left: 0.3em;
      }

      td:not(:first-child) {
        color: var(--color-success);
      }
    }
  }
}

.test-content {
  width: 100%;
}

.quiz-table-info {
  width: 45%;

  td:first-child {
    width: 6em;
  }
}


.quiz-control-block {
  width: 55%;

  table {

    td:first-child {
      width: 8em;
      padding-left: 0.3em;
    }
  }
}

.test-name {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  font-size: 1em;
  color: var(--color-secondary);
  font-weight: 500;
}

.test-buttons-block {
  display: inline-block;
}

.button-test {
  display: inline-block;
  height: 1.2rem;
  margin: 4px;
  font-size: 0.7rem;
  color: var(--color-primary);
  background-Color: var(--color-bg-card);
  border: solid 1px var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-quaternary);
  }
}

.link-open-test {
  margin: 0.2rem;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-quaternary);
  line-height: 1.6rem;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 5px var(--color-success);
  }
}

.stat-info-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stat-info-head {
  width: 100%;
  margin: 0.2rem;
  color: var(--color-text-secondary);
}
