.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card {
  display: flex;
  padding: 0 0.5em;
  margin: 0.3em 0.2em;
  width: 18em;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-bg-contrast);
  border: 1px solid var(--color-success-border);
  border-radius: 6px;

  img {
    width: 2em;
    margin: 0.5em;
  }

  div:last-child {
    margin-bottom: 0.2em;
  }
}

.user-name {
  margin: 0;
  font-size: 1em;
  color: var(--color-secondary);
  font-weight: 500;
  line-height: 1em;
}

.user-params-container {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 0.9em;
  gap: 1em 0.5em;
  line-height: 1em;
  text-align: left;

  div {
    width: max-content;
  }

  div:nth-child(2) {
    color: var(--color-success);
  }

  div.param-yellow {
    color: var(--color-warning);
  }

  a {
    text-decoration: none;
    color: var(--color-success);
  }

  .add-tokens-btn {
    color: var(--color-text-primary);
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-primary);
    border-radius: 0.3em;

    &:hover {
      background-color: var(--color-bg-page);
      border-color: var(--color-tertiary);
    }

    &:active {
      background-color: var(--color-success-bg);
      border-color: var(--color-success-bg);
    }
  }
}

.input-tokens {
  width: 35%;
}

.tokens-count-info {
  width: 10%;
  display: inline-block;
  line-height: 1.2em;
  text-align: center;
}

@media (max-width: 660px) {
  .user-card {
    font-size: 0.9rem;
  }

  .add-tokens-btn {
    font-size: 0.9em;
  }
}
