.loader-info-text {
  p {
    color: var(--color-success);
    font-size: 1.5em;
  }

  p:last-child {
    color: var(--color-text-secondary);
    font-size: 1.2em;
  }
}

.info-container {
  min-height: 15em;
}

@media (max-width: 460px) {
  .loader-info-text  {
    p {
      font-size: 1.2em;
    }

    p:last-child {
      font-size: 1em;
    }
  }
}
