.questions-edit-container {
  margin: 1.5em 0;
}

.options-edit {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  font-size: 0.9em;
}

.question-edit {
  display: inline-block;
  border: 2px dashed var(--color-border);
  outline: none;
  resize: none;
  font-weight: bold;

  &:focus, &:focus-visible {
    border: 2px dashed var(--color-warning);
  }
}

.name-question-edit {
  width: 100%;
  margin: 0.3em 0 1em;
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-card);
}

.option-input-block {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.option-edit {
  width: 85%;
  padding: 0.75em 1.125em;
  font-size: 1em;
  color: var(--color-text-primary);
  background-color: var(--color-text-contrast);
  border: 2px solid var(--color-border);
  border-radius: 6px;
  text-align: left;
}

.add-option-container {
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  label {
    width: 85%;
    display: block;
    margin: 0.5em 0 -0.3em 0.5em;
    padding: 0;
    text-align: left;
    line-height: 1em;
    color: var(--color-text-secondary);
    white-space: wrap;
  }
}

.opt-btns-block {
  width: 100%;
  text-align: center;
}

.option-correct {
  margin-left: 1em;
  accent-color: var(--color-success);
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  appearance: none;
  border: 0.15em solid var(--color-success);
  /*border-radius: 0.15em;*/
  background-color: var(--color-success);
  color: #0F172A;

  &:unchecked {
    /*accent-color: var(--color-success);*/
  }

  &:checked::after {
    content: "✔";
    color: var(--color-text-contrast);
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.1em;
    line-height: 1em;
  }
}

.add-option, .del-option {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 1em;
  padding: 0;
  width: 2em;
  height: 2em;
  background-color: var(--color-success);

  &:hover {
    background-color: var(--color-success);
    box-shadow: 0 0 5px var(--color-success);
  }
}

.no-validate {
  border: 1px solid var(--color-error);
}

.del-question {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.2em 0.5em;
  color: var(--color-error-msg);
  background-color: transparent;
  outline: 1px solid var(--color-error-bg);

  &:hover {
    background-color: transparent;
    color: var(--color-error);
  }
}

.question-explanation {
  margin-top: 0.5em;
  padding: 0.8em 1.2em;
  font-size: 0.9em;
  font-weight: 400;
}

@media (max-width: 620px) {
  .option-edit {
    width: 80%;
  }

  .option-correct {
    margin-left: 0.5em;
    width: 1.2em;
    height: 1.2em;
  }

  .add-option-container label {
    white-space: pre-wrap;
  }

  .option-correct {
    &:checked::after {
      font-size: 1.1em;
    }
  }
}

@media (max-width: 400px) {
  .name-question-edit {
    margin-top: 0.8em;
  }

  .del-question {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .name-question-edit {
    margin-top: 0.8em;
    padding: 0.08em;
  }

  .option-edit {
    width: 78%;
  }

  .del-question {
    font-size: 1em;
  }
}
