.loaderContainer {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  background-color: var(--color-bg-card);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 30px;
  font-size: 16px;
}

.loadInput {
  padding: 12px;
  font-size: 12px;
  border: 2px solid #1976d2;
  border-radius: 6px;
  cursor: pointer;
}

.textError {
  margin-top: 20px;
  color: #f44336;
  font-size: 14px;
  padding: 10px;
  background-color: #ffebee;
  border-radius: 6px;
}

.buttonMain.buttonCopy {
  margin: 0;
  transition: all 0.3s ease;
}

.buttonMain.buttonCopied,
.buttonMain.buttonCopied:is(:hover, :active) {
  background-color: var(--color-success);
}

.jsonExampleContainer {
  margin-top: 40px;
  padding: 20px;
  background-color: #e3f2fd;
  border-radius: 8px;
  text-align: left;
}

.jsonExampleField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  & h3 {
    color: #1976d2;
    margin: 0;
  }
}

.jsonExampleText {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  overflow: auto;
  font-size: 12px;
  color: #333;
}
