.loaderContainer {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  background-color: var(--color-bg-card);
  transition: background-color ease 0.25s;
}

h1 {
  color: var(--color-text-primary);
  margin-bottom: 20px;
}

p {
  color: var(--color-text-secondary);
  margin-bottom: 30px;
  font-size: 16px;
}

.loadInput {
  padding: 12px;
  font-size: 12px;
  border: 2px solid var(--color-primary-hover);
  border-radius: 6px;
  cursor: pointer;
}

.textError {
  margin-top: 20px;
  color: var(--color-error);
  font-size: 14px;
  padding: 10px;
  background-color: var(--color-selected-bg);
  border-radius: 6px;
}

.buttonMain.buttonCopy {
  margin: 0;
  transition: all 0.3s ease;
}

.buttonMain.buttonCopied,
.buttonMain.buttonCopied:is(:hover, :active) {
  background-color: var(--color-success);
}

.jsonExampleContainer {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--color-bg-footer);
  border-radius: 8px;
  text-align: left;
}

.jsonExampleField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  & h3 {
    color: var(--color-primary);
    margin: 0;
  }
}

.jsonExampleText {
  background-color: var(--color-text-contrast);
  padding: 15px;
  border-radius: 6px;
  overflow: auto;
  font-size: 12px;
  color: var(--color-text-secondary);
}
