@import "./theme.css";

body {
  min-width: 320px;
  height: 100dvh;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--color-bg-page);
  color: var(--color-text-primary);
  transition: background-color ease 0.5s;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 1.4rem;
  flex: 1 1 auto;
}

.tests-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  border: 2px dashed var(--color-border);
  border-radius: 12px;
  background-color: var(--color-bg-card);
  transition: background-color ease 0.25s;
}

h1 {
  margin: 0 0 8px 0;
  font-size: 24px;
}

input[type="file"] {
  padding: 6px 8px;
}

.btn {
  /*display: block;*/
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loader-container {
  width: 100%;
  height: calc(100dvh - 10em);
  text-align: center;
}

@media (max-width: 660px) {
  .main {
    margin: 0;
  }

  .tests-container {
    margin: 0.8em 1em;
  }

  .noticeText {
    font-size: 1.2rem;
  }
}
