:root {
  /* ===== Backgrounds ===== */
  --color-bg-page: #D0ECF7;
  --color-bg-card: #F4FAFD;
  --color-bg-footer: #E6F4FA;
  --color-bg-contrast: white;

  /* ===== Text ===== */
  --color-text-primary: #1F2933;
  --color-text-secondary: #4B5563;
  --color-text-contrast: white;

  /* ===== UI ===== */
  --color-border: #E5E7EB;
  --color-disabled: #94A3B8;
  --color-selected-bg: #FFF8E1;
  --color-err-shadow: rgba(244, 67, 54, 0.4);
  /*--color-checkbox: #666;*/

  /* ===== Brand ===== */
  --color-primary: #015B76;
  --color-secondary: #017A9B;
  --color-tertiary: #01475D;
  --color-quaternary: #F59E0B;

  /* ===== States ===== */
  --color-success: #2E7D32;
  --color-success-bg: #a5d6a7;
  --color-success-bg-light: #e8f5e9;
  --color-success-border: #66bb6a;
  --color-success-shadow: rgba(76, 175, 80, 0.4);

  --color-error: #f44336;
  --color-error-bg: #C62828;

  --color-warning: #F59E0B;
  --color-warning-bg: #FFF8E1;
}

[data-theme="dark"] {
  /* ===== Backgrounds ===== */
  --color-bg-page: #0F172A;
  --color-bg-card: #334155;
  --color-bg-footer: #0F172A;
  --color-bg-contrast: #1E293B;

  /* ===== Text ===== */
  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-contrast: #0F172A;

  /* ===== UI ===== */
  --color-border: #334155;
  --color-disabled: #64748B;
  --color-selected-bg: #FFF8E1;
  /*--color-checkbox: #666;*/

  /* ===== Brand ===== */
  --color-primary: #7DD3FC;
  --color-secondary: #38BDF8;
  --color-tertiary: #7DD3FC;

  /* ===== States ===== */
  --color-success: #4ADE80;
  --color-success-bg: #064E3B;
  --color-success-bg-light: #064E3B;

  --color-error: #F87171;
  --color-error-bg: #7F1D1D;
}

