#toast-container {
  max-width: 18em;
  width: fit-content;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.toast {
  margin-bottom: 10px;
  padding: 10px 16px;
  word-wrap: break-word;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.6em;
  border-radius: 6px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s ease;
}

.toast-info {
  color: var(--color-text-contrast);
  background: var(--color-success);
}

.toast-error {
  color: var(--color-error-msg);
  background: var(--color-error-bg);
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}
