.result-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.125em;
}

.result-card {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: var(--color-success-bg-light);
  border-radius: 8px;
  text-align: center;
}

.result-title {
  color: var(--color-success);
  margin-bottom: 1em;
}

.result-subtitle {
  color: var(--color-success);
  margin-bottom: 1em;
}

.result-text {
  font-size: 1.1em;
  margin-bottom: 0.625em;
}

.result-text--total {
  margin-bottom: 1.25em;
}

.result-percent {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--color-success);
}

.result-button {
  margin-top: 1.25em;
  padding: 0.75em 1.5em;
  font-size: 1em;
  color: var(--color-text-contrast);
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.result-button:hover {
  background-color: var(--color-secondary);
}

.like-card {
  margin-top: 0.625em;
  padding: 1.25em;
  background-color: var(--color-success-bg-light);
  border-radius: 8px;
  text-align: center;
}

.quiz-rate {
  margin: 0 0 1em;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--color-quaternary);
}

.btn-like {
  margin: 0 1em;
  border-radius: 0.7em;
  border-color: var(--color-quaternary);
  cursor: pointer;

  &:active {
    .img-btn-like {
      transform: translate(0.08em, 0.08em);
    }

    .img-dislike {
      transform: translate(0.08em, 0.08em) rotate(180deg);
    }
  }
}

.img-btn-like {
  width: 2.5em;
  vertical-align: middle;
}

.img-dislike {
  transform: rotate(180deg);
}

.thanks-like {
  margin: 0;
  color: var(--color-success);
}

@media (max-width: 660px) {
  .result-card {
    margin: 0.8em 1em;
    font-size: 0.8rem;
  }

  .result-wrapper {
    padding: 0.5em;
  }
}
