.result-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.result-card {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--color-success-bg-light);
  border-radius: 8px;
  text-align: center;
}

.result-title {
  color: var(--color-success);
  margin-bottom: 15px;
}

.result-subtitle {
  color: var(--color-success);
  margin-bottom: 15px;
}

.result-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.result-text--total {
  margin-bottom: 20px;
}

.result-percent {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-success);
}

.result-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  color: var(--color-text-contrast);
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.result-button:hover {
  background-color: var(--color-secondary);
}

.like-card {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--color-success-bg-light);
  border-radius: 8px;
  text-align: center;
}

.quiz-rate {
  margin: 0 0 1em;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--color-quaternary);
}

.btn-like {
  margin: 0 1em;
  border-radius: 0.7em;
  border-color: var(--color-quaternary);
  cursor: pointer;

  &:active {
    .img-btn-like {
      transform: translate(0.08em, 0.08em);
    }

    .img-dislike {
      transform: translate(0.08em, 0.08em) rotate(180deg);
    }
  }
}

.img-btn-like {
  width: 2.5em;
  vertical-align: middle;
}

.img-dislike {
  transform: rotate(180deg);
}

.thanks-like {
  margin: 0;
  color: var(--color-success);
}
