.quizContainer {
  max-width: 42rem;
  margin: 0 auto;
  padding: 20px 0;
}

.quiz-head-block {
  text-align: center;
  margin: 0 1.875em;
}

.quiz-head {
  margin-bottom: 0.6em;
  font-size: 1.5em;
  /*text-wrap: balance;*/
  color: var(--color-text-primary);
}

.quiz-descr {
  font-size: 1em;
  color: var(--color-text-secondary);
}

.quizHeadBody {
  margin-top: 20px;

  input {
    width: 100%;
    box-sizing: border-box;
    max-width: 19em;
    padding: 10px 15px;
    font-size: 1em;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    outline: none;

    &:focus-visible {
      border: 2px solid var(--color-disabled);
    }
  }
}

.submittedInfoBlock {
  margin-top: 10px;
  padding: 8px;
  font-size: 12px;
  color: var(--color-warning);
  background-color: var(--color-warning-bg);
  border-radius: 4px;

  span {
    font-weight: bold;
  }

  .textCorrect {
    color: var(--color-success);
  }

  .textPossibleCorrect {
    color: var(--color-success-border);
  }

  .textIncorrect {
    color: var(--color-error-bg);
  }
}

.submitBlock {
  text-align: center;
  margin: 1.875em 1em 0;

  .warningInfo {
    margin-top: 10px;
    color: var(--color-error);
    font-size: 0.9em;
    text-wrap: balance;
  }
}

.submitSettings {
  margin: 1.125em;

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text-primary);
  }

  input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.quizSubmitButton {
  padding: 15px 40px;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--color-text-contrast);
  background-color: var(--color-disabled);
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
  transition: all 0.3s ease;
}

.canSubmitButton {
  background-color: var(--color-primary);
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }
}

@media (max-width: 480px) {
  .quiz-head-block {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .quizContainer {
    font-size: 0.9rem;
  }
  .quiz-head-block {
    margin: 0 1em;
  }
}
