.filters-users {
  font-size: 0.9em;
  margin: 0 auto;

  .input-users {
    min-width: 17em;
    background-color: var(--color-bg-card2);

    &:focus-visible, &:focus {
      border: 1px solid var(--color-border);
    }
  }
}
