.header-container {
  display: flex;
  justify-content: right;
  /*align-items: center;*/
}

.button-login {
  margin: 6px 0;
  padding: 4px 16px;
  font-size: 14px;
  color: var(--color-text-contrast);
  background-color: var(--color-warning);
  border-radius: 6px;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-tertiary);
  }
}

