.stat-card {
  position: relative;
  margin: 0.4em 0.2em;
  padding: 0.5em;
  width: fit-content;
  text-align: left;
  border: 1px solid var(--color-warning);
  border-radius: 6px;

  & p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
}

.btn-delete {
  position: absolute;
  top: -0.3em;
  right: -0.3em;
  font-size: .7em;
  color: var(--color-warning);
  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-error);
  }
}
