.questionsContainer {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-bg-card);
}

.questionsTitle {
  margin: 0 0 15px;
  color: var(--color-text-secondary);
}

.questionRadio {
  font-size: 16px;
}

.questionCheckbox {
  display: block;
  margin-left: 10px;
  color: var(--color-text-secondary);
  font-size: 14px;
}

.questionOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionButton {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid var(--color-border);
  border-radius: 6px;
  background-color: var(--color-bg-card);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
}

.answerDefault {
  opacity: 0.4;
  background-color: var(--color-bg-card);
  color:  var(--color-text-secondary);
}

.selectedNoCorrectAnswer {
  /*background-color: #f44336;*/
  background-color: var(--color-error);
  color: var(--color-text-contrast);
  /*border-color: #c62828;*/
  border-color:var(--color-error-bg);
  border-width: 3px;
  box-shadow: 0 0 8px var(--color-err-shadow);
}

.correctedAnswer {
  background-color: var(--color-success-bg);
  color: var(--color-success);
  border-color: var(--color-success-border);
  border-width: 2px;
  border-style: dashed;
}

.correctedAndSelectedAnswer {
  background-color:  var(--color-success-border);
  color: var(--color-text-contrast);
  border-color: var(--color-success);
  border-width: 3px;
  box-shadow: 0 0 8px var(--color-success-shadow);
}

.questionSelected {
  background-color: var(--color-secondary);
  color: white;
  border-color: var(--color-secondary);
}

.questionMissed {
  background-color: var(--color-text-contrast);
  color: var(--color-text-primary);
  border-color: var(--color-border);
}

.questionExplain {
  margin-top: 15px;
  padding: 12px;
  background-color: var(--color-bg-page);
  border-radius: 6px;
  color: var(--color-primary);
  font-size: 14px;
}
