.linkHead {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--color-text-secondary);
}

.linkBlock .linkBody {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--color-warning);
}

.linkTest {
  display: block;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-warning);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.buttonMain.buttonLink {
  margin: 0 auto;
}
