.link-head {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.link-block .link-body {
  margin: 1rem;
  font-size: 1.5rem;
  color: var(--color-warning);

  &:hover {
    text-shadow: 0 0 2px var(--color-success);
  }
}

.link-body {
  display: block;
  text-decoration: none;
}

.btn-link-copy {
  margin: 0 auto;
  padding: 8px 16px;
  font-size: 14px;
  alignment-baseline: text-bottom;
  color: var(--color-text-contrast);
  background-color: var(--color-primary);
  border-radius: 6px;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-tertiary);
  }
}

.btn-link-copy--copied,
.btn-link-copy--copied:is(:hover, :active) {
  background-color: var(--color-success);

  &::before {
    font-size: 0.8em;
    content: '✓ ';
  }
}

.link-newTest {
  display: block;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-warning);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.link-info {
  color: var(--color-text-secondary);
}
