.buttonMain.buttonLogin {
  background-Color: var(--color-warning);
}

.noticeBlock {
  transition: all 0.3s ease;

  & .noticeText {
    color: var(--color-error);
  }
}

.close {
  display: none;
}
