.qetResult {
  display: block;
  margin: 1.5rem auto 0;
  padding: 0.5em;
  font-size: 0.9em;
  color: var(--color-text-contrast);
  background-color: var(--color-bg-dotlight1);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}
