.modal-confirm {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 10;
}

.is-active {
  display: block;
}

.modal-content {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 42rem;
  /*height: 20rem;*/
  background-color: var(--color-bg-card);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  border-radius: 2rem;
  border: 2px solid var(--color-err-shadow);
  box-shadow: 1px 1px 20px var(--color-err-shadow);

  h2 {
    font-size: 1.2em;
    color: var(--color-tertiary);
  }
}

.btn-modal {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
