.page-empty-container {
  position: absolute;
  width: 95%;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-page-empty {
  white-space: pre-line;
  text-wrap: balance;
}

.button-to-main {
  margin: 30px auto;
  padding: 8px 16px;
  font-size: 14px;
  color: var(--color-text-contrast);
  background-color: var(--color-primary);
  border-radius: 6px;

  &:hover {
    background-color: var(--color-secondary);
  }

  &:active {
    background-color: var(--color-tertiary);
  }
}

@media (max-width: 460px) {
  .text-page-empty {
    font-size: 0.8em;
  }
}
