.recentTestItem {
  display: flex;
  padding: 0;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #16a34a;
  border-radius: 6px;
}

.recentTestName {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  color: #0055ff;
}

.recentButtons {
  display: inline-block;
}

.buttonRecent {
  display: inline-block;
  height: 1.6rem;
  margin: 4px;
}
