.tests-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recent-test-block {
  display: flex;
  padding: 0;
  margin: 3px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid var(--color-warning);
  background-color: var(--color-text-contrast);
  border-radius: 6px;
}

.recent-test--finished {
  border: 2px solid var(--color-success-border);
}

.recent-test-name {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  color: var(--color-secondary);
  font-weight: bold;
}

.recentI-info-block {
  width: 100%;
  text-align: left;
}

.recent-info {
  width: 100%;
  margin: 0.1rem 0.3rem;
  font-size: 0.9rem;
  font-style: inherit;

  span {
    font-weight: bold;
    color: var(--color-success);
  }
}

.recent-empty {
  color: var(--color-warning);
}

.recent-buttons {
  display: inline-block;
}

.button-recent {
  display: inline-block;
  height: 1.2rem;
  margin: 4px;
  font-size: 0.7rem;
}

.recent-warning {
  font-size: 0.7rem;
  color: var(--color-error);
}
