.recentTestItem {
  display: flex;
  padding: 0;
  margin: 6px 0;
  width: 80%;
  align-self: start;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #f67d32;
  border-radius: 6px;
}

.recentTestFinished {
  border: 1px solid #16a34a;
}

.recentTestName {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  color: #0055ff;
}

.recentInfoBlock {
  width: 100%;
  text-align: left;
}

.recentInfo {
  width: 100%;
  margin: 0.1rem 0.3rem;
  font-size: 0.9rem;
  font-style: inherit;

  span {
    font-weight: bold;
    color: #16a34a;
  }
}

.recentButtons {
  display: inline-block;
}

.buttonRecent {
  display: inline-block;
  height: 1.6rem;
  margin: 4px;
}

.recentWarning {
  font-size: 0.7rem;
  color: #f67d32;
}
